<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.aptboard.mapper.AptBoardCommentLikeMapper">
    <insert id="insertCommentLike" parameterType="AptBoardCommentLikeDto">
        INSERT INTO aptboard_comment_likes (comment_id, user_id, created_at)
        VALUES (#{commentId}, #{userId}, NOW());
    </insert>
    
    <delete id="deleteCommentLike">
        DELETE FROM aptboard_comment_likes 
        WHERE comment_id = #{commentId} AND user_id = #{userId};
    </delete>
    
    <select id="getCommentLike" resultType="AptBoardCommentLikeDto">
        SELECT 
            id,
            comment_id as commentId,
            user_id as userId,
            created_at as createdAt
        FROM aptboard_comment_likes
        WHERE comment_id = #{commentId} AND user_id = #{userId};
    </select>
</mapper> 