<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.house.mapper.HouseMapper">

	<!-- 동+거래년도+거래월 별 간단한 아파트 실거래 정보 조회 -->
	<select id="getDealsByAddress" parameterType="map"
		resultType="com.ssafy.house.model.HouseDealSimpleResponseDto">
		SELECT
		hi.apt_seq AS aptSeq,
		hi.apt_nm AS aptName,
		hi.umd_nm AS
		legalDong,
		hi.latitude AS latitude,
		hi.longitude AS longitude
		FROM
		housedeals hd
		JOIN houseinfos hi ON hd.apt_seq = hi.apt_seq
		JOIN
		dongcodes dc ON hi.umd_nm = dc.dong_name
		WHERE dc.sido_name = #{sido}
		AND dc.gugun_name = #{gugun}
		AND dc.dong_name = #{dong}
		AND
		CONCAT(hi.sgg_cd, hi.umd_cd) = dc.dong_code
		<if test="year != null and year > 0">
			AND hd.deal_year = #{year}
		</if>
		<if test="month != null and month > 0">
			AND hd.deal_month = #{month}
		</if>
		GROUP BY hi.apt_seq, hi.apt_nm  <!-- 아파트 이름별로 그룹화 -->
	</select>

	<!-- 아파트 코드로 아파트 실거래 정보 조회 -->
	<select id="getDealsByAptSeq" parameterType="map"
		resultType="com.ssafy.house.model.HouseDealResponseDto">
		SELECT
		hi.apt_seq AS aptSeq,
		hi.apt_nm AS aptName,
		hd.floor AS floor,
		hd.exclu_use_ar AS excluUseAr,
		hi.umd_nm AS legalDong,
		hd.deal_amount AS tradeAmount,
		hi.latitude AS latitude,
		hi.longitude AS longitude,
		hd.deal_year AS dealYear,
		hd.deal_month AS dealMonth,
		hd.deal_day AS dealDay
		FROM housedeals hd
		JOIN houseinfos hi ON hd.apt_seq = hi.apt_seq
		WHERE hi.apt_seq = #{aptSeq}
		ORDER BY hd.deal_year DESC, hd.deal_month DESC, hd.deal_day DESC
	</select>

	<!-- 아파트 이름으로 아파트 정보 조회 -->
	<select id="getHouseInfoByAptName" parameterType="String"
		resultType="com.ssafy.house.model.HouseInfoDto">
		SELECT
		hi.apt_seq AS aptSeq,           <!-- 아파트 코드 -->
		hi.sgg_cd AS sggCd,             <!-- 시군구 코드 -->
		hi.umd_cd AS umdCd,             <!-- 읍면동 코드 -->
		hi.umd_nm AS umdNm,             <!-- 읍면동 이름 -->
		hi.jibun AS jibun,              <!-- 지번 -->
		hi.road_nm_sgg_cd AS roadNmSggCd, <!-- 도로명 시군구 코드 -->
		hi.road_nm AS roadNm,           <!-- 도로명 -->
		hi.road_nm_bonbun AS roadNmBonbun, <!-- 도로명 본번 -->
		hi.road_nm_bubun AS roadNmBubun, <!-- 도로명 부번 -->
		hi.apt_nm AS aptNm,             <!-- 아파트 이름 -->
		hi.build_year AS buildYear,     <!-- 건축년도 -->
		hi.latitude AS latitude,        <!-- 위도 -->
		hi.longitude AS longitude       <!-- 경도 -->
		FROM houseinfos hi
		WHERE hi.apt_nm LIKE CONCAT('%', #{aptName}, '%')
		ORDER BY hi.apt_nm;
	</select>

	<!-- aptSeq로 아파트 정보 조회 -->
	<select id="getHouseInfoByAptSeq" parameterType="string"
		resultType="com.ssafy.house.model.HouseInfoDto">
		SELECT
		apt_seq AS aptSeq,
		sgg_cd AS sggCd,
		umd_cd AS umdCd,
		umd_nm AS umdNm,
		jibun,
		road_nm_sgg_cd AS roadNmSggCd,
		road_nm AS roadNm,
		road_nm_bonbun AS roadNmBonbun,
		road_nm_bubun AS roadNmBubun,
		apt_nm AS
		aptNm,
		build_year AS buildYear,
		latitude,
		longitude
		FROM houseinfos
		WHERE
		apt_seq = #{aptSeq}
	</select>

	<!-- 동별 거래 년도 조회 -->
	<select id="getHouseDealYearByDong" parameterType="map"
		resultType="Integer">
		SELECT
		distinct(deal_year) AS deal_year
		FROM housedeals hd
		JOIN houseinfos hi ON hd.apt_seq = hi.apt_seq
		JOIN dongcodes dc ON
		hi.umd_nm = dc.dong_name
		WHERE dc.sido_name = #{sido}
		AND dc.gugun_name
		= #{gugun}
		AND dc.dong_name = #{dong}
		AND CONCAT(hi.sgg_cd, hi.umd_cd) =
		dc.dong_code
		ORDER BY deal_year;
	</select>

	<!-- 거래 년도 별 월 조회 -->
	<select id="getHouseDealMonthByYear" parameterType="map"
		resultType="Integer">
		SELECT
		distinct(deal_month) AS deal_month
		FROM housedeals hd
		JOIN houseinfos hi ON hd.apt_seq = hi.apt_seq
		JOIN dongcodes dc ON
		hi.umd_nm = dc.dong_name
		WHERE dc.sido_name = #{sido}
		AND dc.gugun_name
		= #{gugun}
		AND dc.dong_name = #{dong}
		AND CONCAT(hi.sgg_cd, hi.umd_cd) =
		dc.dong_code
		AND hd.deal_year = #{year}
		ORDER BY deal_month;
	</select>
	
<!-- 동 이름으로 법정동 코드 조회 -->
<select id="getHouseInfoByDongName" parameterType="String"
    resultType="com.ssafy.house.model.HouseInfoDto">
    SELECT DISTINCT
        hi.sgg_cd AS sggCd,
        hi.umd_cd AS umdCd,
        hi.umd_nm AS umdNm
    FROM houseinfos hi
    WHERE hi.umd_nm = #{dongName}
    LIMIT 1
</select>

</mapper>
