#apt-table-container {
	overflow-y: auto; /* 테이블 내용이 많아지면 스크롤바 추가 */
	max-height: 1000px; /* 최대 높이를 제한 */
}

#apt-table-container table {
	width: 100%; /* 테이블 너비를 컨테이너에 맞춤 */
}

body {
	margin-top: 90px;
}

container {
	margin-top: 90px;
}

/* 파스텔톤 핑크 배경색과 텍스트 색상 설정 */
.form-select {
	color: #333; /* 텍스트 색상 */
	border: 1px solid #869fe2; /* 테두리 색상 */
}

/* 드롭다운 아이템 호버 시 색상 설정 */
.form-select option:hover {
	background-color: #869fe2; /* 조금 더 진한 파스텔 핑크 */
	color: #fff; /* 텍스트 색상 */
}

/* 드롭다운이 열렸을 때의 선택된 항목 배경색 */
.form-select option:checked {
	background-color: #869fe2; /* 선택된 항목 배경색 */
	color: #fff; /* 텍스트 색상 */
}